{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NFT Marketplace - 1inch</title>
    <link rel="icon" href="{% static 'favicon.ico' %}"> <!-- Favicon-->

    <!-- Project css file -->
    <link rel="stylesheet" href="{% static 'css/custom.style.min.css' %}">
</head>
<body>
    <div id="IUC" class="theme-blue">

      <!-- Top Header -->
      <nav class="navbar navbar-expand-xl py-lg-2 lp-menu">
         <div class="container py-2 rounded">
            <a class="navbar-brand pt-2 order-1" href="/" title="Logo">
               <img src="https://cryptologos.cc/logos/1inch-1inch-logo.png" alt="1inch" width="50px" height="50px">
               <!--<span class="fw-bold  fs-5 px-2">1inch</span>-->
            </a>
            <div class="d-flex align-items-center order-2 order-md-2 order-xl-3">
               <form class="d-md-flex d-none align-items-center">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#walletconnect" class="text-white bg-primary-gradient avatar rounded-circle d-flex align-items-center justify-content-center mx-2">
                        <i class="bi bi-wallet2 fs-5"></i>
                  </a>
               </form>
               <div class="d-flex align-items-center">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false">
                     <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                  </button>
               </div>
            </div>
            <div class="collapse navbar-collapse order-3 order-md-3 order-xl-2" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                   <li class="nav-item"><a class="nav-link me-2 lead" href="/">Home</a></li>
                   <li class="nav-item"><a class="nav-link me-2 lead" href="/explore">Explore</a></li>
                   <li class="nav-item"><a class="nav-link me-2 lead" href="/buy">Buy</a></li>
                   <li class="nav-item"><a class="nav-link me-2 lead" href="/sell">Sell</a></li>
                   <li class="nav-item"><a class="nav-link me-2 lead" href="/orders">Orders</a></li>
                   <li class="nav-item dropdown">
                       <a class="nav-link me-2 lead dropdown-toggle p-xl-2 active" href="#" id="stasnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Stats</a>
                       <ul class="dropdown-menu" aria-labelledby="stasnavbarDropdown">
                           <li><a class="dropdown-item" href="/ranking">Ranking</a></li>
                           <li><a class="dropdown-item active" href="/activity">Activity</a></li>
                       </ul>
                   </li>
               </ul>
            </div>
         </div>
      </nav>

      <!-- Activity ITEAM-->
      <div style="margin-top: 6rem" class="section py-0">
         <div class="container">
               <div class="row g-3 my-5">
                  <div class="col-lg-12 col-xl-12">
                     <div class="row g-3">
                           <div class="col-lg-12">
                              <table  class="myProjectTable table table-hover custom-table align-middle mb-0" style="width:100%">
                                 <thead>
                                       <tr>
                                          <th>Events</th>
                                          <th>Item</th>
                                          <th>Price</th> 
                                          <th>From</th>
                                          <th>To</th> 
                                          <th>Time</th>
                                       </tr>
                                 </thead>
                                 <tbody id="template_content">
                                    <!-- templates generated by Django goes in here! :) -->
                                 </tbody>
                              </table>
                           </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>                     

      <!-- Footer -->
      <div class="section footer pb-0 mt-5">
         <div class="container">
         </div>
         <div class="pt-4">
               <div class="container">
                  <div class="row">
                  </div>
               </div>
         </div>
      </div>
    </div>

    <template id="activity_template">
        <tr>
          <td>
             <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M3.5 29.5V24.5H8.5V29.5H3.5ZM8.5 22.5V17.5H3.5V22.5H8.5ZM8.5 15.5V10.5H3.5V15.5H8.5ZM8.5 8.5V3.5H3.5V8.5H8.5Z" fill="var(--primary-color)"/>
                   <path opacity="0.2" d="M3.5 29.5V24.5H8.5V29.5H3.5ZM8.5 15.5V10.5H3.5V15.5H8.5Z" fill="white"/>
                   <path d="M3 3V9H9V3H3ZM8 8H4V4H8V8ZM3 10V16H9V10H3ZM8 15H4V11H8V15ZM3 17V23H9V17H3ZM8 22H4V18H8V22ZM3 24V30H9V24H3ZM8 29H4V25H8V29ZM11 8V9H30V8H11ZM11 15V16H30V15H11ZM11 22V23H30V22H11ZM11 29V30H30V29H11Z" fill="var(--text-color)"/>
             </svg>
             <span id="type" class="ps-2"></span>
          </td>
          <td><a href="#" title="" id="title"><img src="" alt="" id="image_link" class="img-fluid avatar mx-1 rounded-2"></a></td>
          <td id="price"><span></span></td>
          <td id="address"><span class="color-price-up"></span></td>
          <td id="to"></td>
          <td id="when"></td>
       </tr>
    </template>

    <!-- Jquery Core Js -->
    <script src="{% static 'bundles/libscripts.bundle.js' %}"></script>

    <!-- Plugin Js -->
    <script src="{% static 'bundles/countdown.bundle.js' %}"></script>

    <!-- Jquery Page Js -->
    <script src="{% static 'template.js' %}"></script>
    <script>
        // project data table
        $('.myProjectTable').DataTable({
            responsive: true
        });

    </script>
</body>
</html> 