{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NFT Marketplace - 1inch</title>
    <link rel="icon" href="{% static 'favicon.ico' %}"> <!-- Favicon-->

    <!-- Project css file -->
    <link rel="stylesheet" href="{% static 'css/custom.style.min.css' %}">
</head>
<body style="background-color: #080b13">
    <div id="IUC" class="theme-blue">

      <!-- Top Header -->
      <nav class="navbar navbar-expand-xl py-lg-2 lp-menu">
         <div class="container py-2 rounded">
            <a class="navbar-brand pt-2 order-1" href="/buy" title="Logo">
               <img src="https://cryptologos.cc/logos/1inch-1inch-logo.png" alt="1inch" width="50px" height="50px">
               <!--<span class="fw-bold  fs-5 px-2">1inch</span>-->
            </a>
            <div class="d-flex align-items-center order-2 order-md-2 order-xl-3">
               <form id="walletform" class="d-md-flex d-none align-items-center">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#walletconnect" class="text-white bg-primary-gradient avatar rounded-circle d-flex align-items-center justify-content-center mx-2">
                        <i class="bi bi-wallet2 fs-5"></i>
                  </a>
               </form>
               <div id="current_address" style="background-color: var(--primary-color)" hidden class="bg-blue-100 px-4 py-1 text-sm rounded-full text-black font-semibold"></div>
               <div class="d-flex align-items-center">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false">
                     <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                  </button>
               </div>
            </div>
             <div class="collapse navbar-collapse order-3 order-md-3 order-xl-2" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                   <li class="nav-item"><a class="nav-link me-2 lead" href="/">Home</a></li>
                   <li class="nav-item"><a class="nav-link me-2 lead" href="/explore">Explore</a></li>
                   <li class="nav-item"><a class="nav-link me-2 lead" href="/buy">Buy</a></li>
                   <li class="nav-item"><a class="nav-link me-2 lead" href="/sell">Sell</a></li>
                   <li class="nav-item"><a class="nav-link me-2 lead active" href="/orders">Orders</a></li>
                   <li class="nav-item dropdown">
                       <a class="nav-link me-2 lead dropdown-toggle p-xl-2" href="#" id="stasnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Stats</a>
                       <ul class="dropdown-menu" aria-labelledby="stasnavbarDropdown">
                           <li><a class="dropdown-item" href="/ranking">Ranking</a></li>
                           <li><a class="dropdown-item" href="/activity">Activity</a></li>
                       </ul>
                   </li>
               </ul>
            </div>
         </div>
      </nav>

      <!-- Ranking ITEAM-->
      <div class="section py-0">
         <div class="container">
               <div class="row g-3 my-5">
                  <div style="margin-top: 6rem;margin-bottom: 2rem" class="col-lg-12 col-xl-12">
                     <div class="row g-3">
                           <div class="col-lg-12">
                              <table  class="myProjectTable table table-hover custom-table align-middle mb-0" style="width:100%">
                                 <thead>
                                       <tr>
                                          <th>Collection</th>
                                          <th>Price</th>
                                          <th>Expiration</th>
                                          <th>Status</th>
                                           <th>Cancel</th>
                                       </tr>
                                 </thead>
                                 <tbody>
                                    <!-- items go in here, generated by django using the template below-->
                                 </tbody>
                              </table>
                           </div>
                     </div>
                  </div>
                   <a style="cursor: pointer" id="sell_submit" data-bs-toggle="modal" class="d-inline-flex align-items-center justify-content-center border border-primary py-2 px-4 rounded-pill ct-btn m-1">
                       CANCELL AL ORDERS
                   </a>
               </div>
         </div>
      </div>
        
    </div>

    <template id="nft_template">
        <div>
            <tr>
                <td>
                    <a href="collection.html" title="">
                        <img src="https://lh3.googleusercontent.com/bRMgsiZQtiF5LnxzJwOAhDSy0pYis4yJOX5WV4OvzpUXlZSyNtHpxP4Fn32vfra7Z1EvEitJc7i3Xw5MO6tTkAiLkhzkJThknXzQBvo=s250" alt="" class="img-fluid avatar mx-1"> adidas Originals Meta Capsule
                    </a>
                </td>
                <td id="price"></td>
                <td id="expiration"></td>
                <td id="sold_status"><span class="color-price-down"></span></td>
                <td id="cancel"><span style="cursor: pointer" class="color-price-down">Cancel order</span></td>
            </tr>
        </div>
    </template>

    <script type="module" src="{% static 'script.js' %}"></script>

    <!-- Jquery Core Js -->
    <script src="{% static 'bundles/libscripts.bundle.js' %}"></script>

    <!-- Plugin Js -->
    <script src="{% static 'bundles/countdown.bundle.js' %}"></script>

    <!-- Jquery Page Js -->
    <script src="{% static 'template.js' %}"></script>
    <script>
        // project data table
        $('.myProjectTable').DataTable({
            responsive: true
        });

    </script>
    
</body>
</html> 